<nav class="navbar navbar-main">
  <div class="container navbar-container">
  	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <span>
         <%= image_tag "logo-icon.png", id: "brand-logo-icon" %>
         <%= image_tag "logo-text.png", id: "brand-logo-text" %>
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-content" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Communities</a></li>
        <li class="active"><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign up',new_user_registration_path %>
        </li>
        <li><%= link_to 'Sign in',new_user_session_path %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>